@import '~antd/dist/antd.css';

.App 
{
}

body {
    background-color: rgb(39, 39, 39);
}

.base-text-color {
    color:white !important;
}

.success-btn {
    background-color: rgb(61, 163, 61);
}

.ant-modal-body {
    background-color:rgb(54,54,54);
}
