.logo {
    float: left;
    width:375px;
    margin:0 auto;
}

.layout {
    background-color: #364F6B;

}
.ant-row-rtl .logo {
    float: right;

}

.menu {
    padding:5px;
    /* background-color: aliceblue; */
    background-image:linear-gradient(180deg, aliceblue, rgb(54, 79, 107, .4));
/*     
    display: block;
    max-width: 100%; */

}

.loggedInMenu {
    padding:5px;
    /* background-color: aliceblue; */
    background-image:linear-gradient(180deg, aliceblue, rgb(54, 79, 107, .4));
/*     
    display: block;
    max-width: 100%; */
    justify-content: right;
}
